@use "vars";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

@mixin text($fontSize) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: vars.$textPrimary;
}

@mixin title($fontSize) {
  @include text($fontSize);
  color: vars.$textSecondary;
}

.text--lg {
  @include text(18px);
}

.text--md {
  @include text(16px);
}

.text--sm {
  @include text(12px);
}

.title--lg {
  @include title(44px);
}

.title--md {
  @include title(40px);
}

.title--sm {
  @include title(28px);
}

.link-text {
  @include text(18px);
  color: vars.$textSecondary;
  text-decoration: underline;
}

.button {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: vars.$textSecondary;
  background-color: vars.$btnSignin;
  border: none;
  border-radius: 4px;
  margin-top: 2vw;
  margin-bottom: 8px;
  cursor: pointer;
}

.img-text-section {
  padding: 5.6vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  &__img {
    max-width: 100%;
  }

  &__content {
    padding: 0 2vw;

    &__title {
      margin-bottom: 24px;
    }
  }

  &--img-w100 {
    display: block;
    position: relative;

    &__img {
      width: 100%;
    }

    &__content {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: calc(50% - 5.6vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
